<div class="input-daterange input-group" id="datepicker" style="margin: 10px auto;">
    <input type="text" class="input-sm form-control" name="start" />
    <span class="input-group-addon">to</span>
    <input type="text" class="input-sm form-control" name="end" />
</div>

<span style="font-size: 12px;">{{ span_duration }}</span>
