<div class="mail-density-graph" style="position: relative; height: 60px;">
    <svg shape-rendering="crispEdges" preserveAspectRatio="xMidYMid meet" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;"></svg>
</div>