<li class="list-group-item" style="border-top: solid 1px #ccc;">
    <i class="fa fa-font" style="margin: 5px;"></i> token blacklist: <i class="fa fa-circle-o-notch fa-spin tokens-loader" style="display: none;"></i>

    <div style="margin-bottom: 5px;">
        {{ textarea class="token-blacklist-box" value=token_list_str }}
    </div>
</li>