// styles for the filter bar
.filter-bar {
  margin-top: 1em;
}

// filter frameset styles
.filter-acceptor {
  box-shadow: inset 0px 5px 2px rgba(0,0,0,0.025); background-color: #fafafa;
}
.apply-btn-dirty {
  animation-duration: 600ms;
  animation-name: flashblue;
  animation-iteration-count: 1;

  background-color: #5bc0de;
  border-color: #46b8da;
}

@keyframes flashblue {
  from { background: #ccf6ff; }
  to {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

.alter-list {
  border: solid 1px #ccc;
  padding: 5px;
  margin: 0.5em 0;
  line-height: 120%;
  padding-left: 10px;
}

.alter-list.blacklist {
  border-left: solid 1px #ccc;
  background: #333;
  color: white;
}


// filter module loaders
.loader-indicator {
  display: none;
}
.loader-indicator.currently-loading {
  display: inline-block;
}

.filter-bar .token-blacklist-box {
  width: 100%;
}

// list of label checkboxes
ul.checkbox-list  {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.checkbox-list li input {
  margin-right: .25em;
}

ul.checkbox-list li {
  border: 1px transparent solid;
  display: inline-block;
  width: 16em;
}

ul.checkbox-list li label {
  margin-left: 0;
}

.system-label {
  font-style: oblique;
}
.system-label::after {
  content: '*'
}
