@import '_components';
@import "bootstrap.min";

// override super-narrow progress bars
.progress { height: 16px; }
.progress .progress-bar {
  text-align: left;
  font-size: 11px;
  line-height: 15px;
  padding-left: 4px;
}
.dropdown-menu a { cursor: pointer; }

h1 { font-size: 48px; }

p { line-height: 150%; font-size: larger; }

hr.spanning-hr { width: 100%; border-color: #ccc; }

p.login-blurb.navbar-text {
  color: #ccc;
  font-size: 15px;
}

p.login-blurb a {
  padding-left: 0.5em;
  cursor: pointer;
  color: white;
}

// filter frameset styles
.filter-acceptor {
  box-shadow: inset 0px 5px 2px rgba(0,0,0,0.025); background-color: #fafafa;
}

// alter filter styles
.whiteblack-lists-container {
  border: solid 1px #ccc;
  padding: 5px;
  display: flex; justify-content: space-around;
  margin: 0.5em 0;
}

.whiteblack-lists-container .alter-list {
  flex: 1 1;
  padding: 5px;
  line-height: 120%;
}

.whiteblack-lists-container .alter-list:last-child {
  border-left: solid 1px #ccc;
  padding-left: 10px;
}

.whiteblack-lists-container .alter-list li {
  margin: 0.5em 0;
}
