<!--<div style="display: none;">-->
    <!--<button class="btn btn-link prev-button">prev</button>-->
    <!--<button class="btn btn-link next-button">next</button>-->
<!--</div>-->
<div class="heatmap-box"></div>
