{{!--
<div style="display: none; vertical-align: middle; margin-top: 10px; text-align: right;">
  <b style="display: inline-block;">timezone:</b>

  {{view "select"
    content=timezones
    optionValuePath="content.offset"
    optionLabelPath="content.name"
    selection=selected_timezone
  }}
</div>
--}}
