<div class="alters_box">
    <div class="container-fluid">
      {{#each alters as |person|}}
          <div class="row">
              <div class="col-md-6">
                {{person.idx}}. <a {{ action 'addAlterToList' person.name }}>{{ person.name }}</a>
              </div>
              <div class="col-md-6">
                  {{ bootstrap-progressbar value=person.count maxvalue=total_mails }}
              </div>
          </div>
      {{/each}}
    </div>
</div>
