<div class="topicline-box" style="position: relative; height: 300px;">
    <svg preserveAspectRatio="xMidYMid meet" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%;"></svg>
</div>