<h1>About</h1>

<p>
    <b>Tea Leaves</b> is an analysis tool for exploring differences in your language between two periods of time. After
    authorizing the application to use your email data, you will be able to select two time intervals. Your email
    in those time intervals will be analyzed and displayed as a series of visualization components that capture
    different aspects of your language.
</p>

<p>
    Ideally, you should choose two time periods that you expect to be different, e.g. before and after a big move,
    a job change, or a change in your relationship status. You might be surprised to find that the things you talk
    about and the way you talk about them do change over time.
</p>

<div class="panel panel-default">
    <div class="panel-body">
        Continue on to {{#link-to 'zcompare'}}Compare{{/link-to}}. You will be prompted to connect to the EAF if you haven't already done so.
    </div>
</div>
